<div id="chat-header">
    <div id="chat-header-text">
        <span>{{(currentUser.user.length > -1) ? currentUser.user : 'All message'}}</span><span
            ng-show="currentUser.isTyping"> is typing..</span>
    </div>
</div>
<ol id="chat-messages" class="chat-messages chat-window" scroll-glue>
    <li ng-repeat="message in messages | filter:{user:user} : true | filter:search"
        ng-class="(message.dir=='out') ? 'selected' : ''">
        <div id="{{message._id}}" class="bubble">
            <span>({{message.direction}})</span> <span dir="ltr">{{message.user}}</span>: <span>{{message.body}}</span>
            <span dir>({{message.time | date:'shortTime'}})</span>
        </div>
    </li>
</ol>