<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/socket.io-1.3.7.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angularApp//app.js"></script>
    <script src="/javascripts/scripts.js"></script>
</head>
<body ng-app="app">
<div class="container">
    <h2>Chat</h2>
    <div id="app-container" ng-controller="messageCTRL">
        <div class="conversations">
            <div class="bubble" ng-repeat="conversation in conversations | orderBy:'-lastMsg.time'"
                 ng-click="sendTo(conversation.user)">
                <a href="#">{{conversation.user}} | {{conversation.lastMsg.time | date:'shortTime'}}</a>
            </div>
        </div>
        <div class="chat-window">
            <div id="chat-messages" class="chat-messages">
                <div id="{{message._id}}" class="bubble" ng-repeat="message in messages">
                    ({{message.direction}}) {{message.user}}: {{message.body}} ({{message.time | date:'shortTime'}})
                </div>
            </div>
            <div id="keyboard-container">
                <form id="form-keyboard">
                    <input id="messageInput" ng-model="messageInput" type="text">
                    <input type="submit" ng-click="sendMessage(current, messageInput)">
                    <span class="menu-text">Sending to:</span> <a href="#">{{current}}</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>