body {
  font: 12pt Helvetica, Arial, sans-serif;
}

a, a:visited {
  color: #55b7c5;
}

a:hover {
  color: #91bec5;
}

.menu-text {
  color: #bfc2c6;
}

#app-container {
  display: flex;
}

.bubble {
  padding: 5px 0 5px 0;
}

.conversations {
  //display: flex;
  width: 300px;
  background-color: #797481;
}

.chat-messages {
  height: 580px;
  display: block;
  background-color: #e7e3ec;
  overflow: scroll;
  margin: 0 auto;
}

.chat-window {
  width: 1000px;
}

#keyboard-container {
  background-color: #6e6a73;
  width: 100%;
  padding: 5px;

}