.container {
    padding-top: 15px
}

body {
    font: 12pt Helvetica, Arial, sans-serif
}

h2 {
    margin: 0;
    padding: 2px;
    background-color: #e7e3ec;
    text-align: center
}

a, a:visited {
    color: #55b7c5
}

a:hover {
    color: #91bec5
}

ol {
    list-style: none;
    padding: 0
}

.menu-text {
    color: #bfc2c6
}

#app-container {
    display: flex
}

.bubble {
    padding: 5px 0 5px 0
}

.conversations {
    text-align: center;
    max-width: 450px;
    padding: 0 5px 0 5px;
    background-color: #797481
}

.chat-window {
    min-width: 900px;
    width: 100%
}

#chat-header {
    background-color: #797481;
    color: #55b7c5;
    margin: 0;
    padding: 6px;
    font-size: 16pt
}

#chat-header-text {
    text-align: center
}

.chat-messages {
    height: 530px;
    display: block;
    background-color: #e7e3ec;
    overflow: scroll;
    margin: 0 auto
}

#keyboard-container {
    text-align: center;
    background-color: #6e6a73;
    width: 100%;
    padding: 10px
}

#keyboard-container input[type="text"] {
    width: 500px
}